<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Phloem - Dashboard</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
    <style>
        .logo{
            height:2.5rem;
            width:8rem;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .board {
      display: flex;
      justify-content: space-between;
      gap: 20px;
    }
    .column {
      width: 30%;
      background-color: #f4f4f4;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .column h2 {
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
    .card {
      background-color: white;
      margin-bottom: 20px;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .card p {
      margin: 0;
      padding: 5px 0;
      color: #555;
    }
    .upload-btn {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 5px;
      cursor: pointer;
    }
    .upload-btn:hover {
      background-color: #45a049;
    }
    .error-file {
      color: red;
      font-weight: bold;
    }
        .dashboard-card{
        height: 12rem;
    }
    .icon-box{
        background-color: #fff;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        align-items: center;
    }
    </style>
</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}">
                <div class="logo" style="background-image: url({% static 'img/phloem.png' %});"></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="{% url 'form' %}"  data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-file fa-cog"></i>
                    <span>Upload File</span>
                </a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-fw fa-user"></i>
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{username}}</span>

                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4 ">
                            <div class="card dashboard-card shadow d-flex justify-content-center align-items-center bg-gradient-primary" >
                                <div class="card-body h-100 text-center d-flex flex-column justify-content-center align-items-center">
                                    <!-- Profile Icon -->
                                    <div class="p-5 d-flex flex-column justify-content-center align-items-center icon-box mb-3">
                                        <i class="fas fa-user" style="color:#04552d; font-size:36px;"></i>
                                    </div>
                                    <!-- Welcome Text -->
                                    <p class="text-white " style="font-size: 18px;">Welcome {{username}}!</p>

                                </div>
                            </div>
                        </div>

                        <!-- Pending Requests Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card dashboard-card shadow d-flex justify-content-center align-items-center bg-gradient-primary" >
                                <a href="{% url 'form' %}">
                                <div class="card-body text-center d-flex flex-column justify-content-center align-items-center">
                                    <div class="p-5 d-flex flex-column justify-content-center align-items-center icon-box mb-3">
                                        <i class="fas fa-fw fa-upload" style="color:#04552d; font-size:36px;"></i>
                                    </div>
                                    <p class="text-white" style="font-size: 18px;">Upload Files</p>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Content Row -->
                    <div class="row">

                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">

                            <!-- Project Card Example -->
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Uploaded</h6>
                                </div>
                                <div class="card-body">
                                    {% if uploaded_files %}
                                    {% for files in uploaded_files %}
                                    <div class="board">

                                    <!-- Column 1: Student Uploaded Files -->
                                      <div class="column">
                                        <h4 class="h5 mb-0 text-gray-800">Student Uploaded Files</h4>
                                        <div class="card">
                                          <p>
                                              <strong>Assignment:</strong>
                                              <a href="{{ files.assignment }}" target="_blank">Uploaded File</a>
                                          </p>


                                            <p>
                                              <strong>Model Work:</strong>
                                                {% if files.model_work %}
                                              <a href="{{ files.model_work }}" target="_blank">Uploaded File</a><br/>
                                              {% endif %}
                                                </p>

                                            <p>
                                              <strong>Module Materials:</strong>
                                                {% if files.module_materials %}
                                              <a href="{{ files.module_materials }}" target="_blank">Uploaded File</a><br/>
                                                {% endif %}
                                            </p>


                                            <p>
                                              <strong>Instructions:</strong>
                                                {% if files.instructions %}
                                              <a href="{{ files.instructions }}" target="_blank">Uploaded File</a><br/>
                                                {% endif %}
                                          </p>

                                          <p><strong>Uploaded By:</strong>{{files.student_name}}</p>
                                        </div>
                                      </div>

                                      <!-- Column 2: Faculty Answer Upload -->
                                      <div class="column">
                                        <h4 class="h5 mb-0 text-gray-800">Faculty Upload Answers</h4>
                                        <div class="card">
                                          {% if  files.faculty_answer_file %}
                                            <p>Answer Uploaded: <a href="{{ files.faculty_answer_file }}" download>Download Answer</a></p>
                                            {% else %}
                                            <p>Answer not uploaded yet</p>
                                            {% endif %}
                                        </div>
                                      </div>

                                      <!-- Column 3: Manager Error Upload -->
                                      <div class="column">
                                        <h4 class="h5 mb-0 text-gray-800">Delivery date</h4>
                                        <div class="card">
                                          <p><strong>Delivery Date:</strong>{{files.delivery_date}} </p>
                                        </div>
                                      </div>

                                    </div>
                                    {% endfor %}
                                    {% else %}
                                    <div>
                                        <p>No uploaded files</p>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>

                            <!-- Color System -->


                        </div>

                    </div>





                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; PHLOEM 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="{% url 'login' %}">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>

    <!-- Page level plugins -->
    <script src="{% static 'vendor/chart.js/Chart.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/chart-area-demo.js' %}"></script>
    <script src="{% static 'js/demo/chart-pie-demo.js' %}"></script>

</body>

</html>